
# /
/Rakefile
/db
/tmp
/nbproject
/components
/README
/script
/log
*.swp
*.swo

# /config/
/config/environments
/config/boot.rb
/config/environment.rb
/config/database.yml

# /public/javascripts/
/public/javascripts/dtree.js
