<%= error_messages_for 'direction' %>

<!--[form:direction]-->
<p><label for="direction_name"><%= _('Name') %></label><br/>
<%= text_field 'direction', 'name', "class" => "input"   %></p>

<p><label for="direction_code"><%= _('Code') %></label><br/>
<%= text_field 'direction', 'code', "class" => "input"   %></p>
<!--[eoform:direction]-->

