<%= link_to b_add+_('Action_Synchronize'), :action => 'action_syncronise' %>
<br/>
<br/>

<table class="maintable">
  <tr>
    <th>Controller</th>
    <th>Action</th>
  <tr>
    <% @controllers.each do |controller|
      if controller =~ /_controller/
        cont = controller.camelize.gsub(".rb", "")

        (eval("#{cont}.new.methods") -
                ApplicationController.methods -
                Object.methods -
                ApplicationController.new.methods).sort.each { |met| %>
              <tr>
                <td>
                  <%= cont.gsub("Controller", "").downcase %>
                </td>
                <td><%= met %></td>
              </tr>
          <% }
             end
             end %>
</table>
