<tr>
  <td height="20"></td>
</tr>

<tr id="servers_checkbox_title">
  <td class="bottom_border">
    <b><%= b_server + _('Servers') %></b>
  </td>
</tr>
<tr>
  <td height="10"></td>
</tr>
<tr id="servers_checkboxes">
  <td colspan="2">
    <table id="servers" name="servers" width="100%" style="...">
      <% @servers.each { |serv| %>
          <tr>
            <td><%= nice_server(serv) %></td>
            <td><%= check_box_tag "add_to_servers[#{serv.id}]", 1, @server_devices[serv.id].to_i == 1 %></td>
          </tr>
      <% } %>
    </table>
  </td>
</tr>
