<!--[form:did]-->
<p><label for="did_did">Did</label><br/>
  <%= text_field 'did', 'did' %></p>

<p><label for="did_status">Status</label><br/>
  <%= text_field 'did', 'status' %></p>
<!--[eoform:did]-->

