
<% if session[:server_test_ok].to_i == 1 %>
	<center>
		<div id="status"> <%= _('Connection_test_passed') %> </div>
	</center>
<% else %>
	<center>
		<div id="error"> <%= _('Connection_test_failed') %><!--&nbsp;<a href="<%= @help_link %>" target="_blank"><%= image_tag('icons/help.png', :title => _('Get_help_about_this_page')) %></a> --></div>
	</center>
<% end %>	
