<div class="nb"><%= b_play + _('Playing') %>: <%= @file.path %></div>

<br /><br />

<div class="nb"><%= link_to b_download + _('Download'), @dst %></div>


<EMBED SRC=<%= @dst %> WIDTH=1 HEIGHT=1 HIDDEN="true" AUTOSTART="true" LOOP="false"></EMBED>
