<html>
  <head>
    <%= stylesheet_link_tag "mor" %>
  </head>
  <body OnLoad='compt=setTimeout("self.close();",2000)'>
    <table class="simple" witdh="100%">
      <tr>
        <td align="center">
          <%= b_hangup+_('Hangup')%>...
        </td>
      </tr>
    </table>
  </body>
</html>