<!--[form:phonebook]-->
<p><label for="phonebook_number">Number</label><br/>
<%= text_field 'phonebook', 'number'  %></p>

<p><label for="phonebook_name">Name</label><br/>
</p>
<!--[eoform:phonebook]-->

