<% for column in Phonebook.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @phonebook.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @phonebook %> |

