<% rates.sort!{|a, b| (
    rez = 0
    if a['rate'] and b['rate']
      rez = (a['rate'].to_f <=> b['rate'].to_f)
    else
      rez = -1 if a['rate']
      rez = 1 if b['rate']
    end
    rez
  )}  %>

<table width="100%" class="maintable">
  <tr class="row2">
    <th align="center"><%= _('Time') %></th>
    <th align="right"><%= _('From') %></th>
    <th align="right"><%=_('Duration') %></th>
    <th align="right"><%= _('Type') %></th>
    <th align="right"><%= _('Round') %></th>
    <th align="right"><%= _('Price') %>/min (<%= current_user.currency.name%>)</th>
  </tr>

  <% for r in rates %>
    <% eap = r['aprice'].to_f / exchange_rate.to_f
    @max_reseller_arate = eap if @max_reseller_arate < eap %>
    <tr class="row2">
      <td align="center" id="reseller_start_time"><%= nice_time2(r['start_time']) %>-<%= nice_time2(r['end_time']) %></td>
      <td align="right" id="reseller_afrom"><%= r['afrom'] %></td>
      <td align="right" id="reseller_adur"><%= r['adur'] if  r['adur'].to_i != -1 %><%= "∞" if  r['adur'].to_i == -1 %></td>
      <td align="right" id="reseller_atype"><%= r['atype'] %></td>
      <td align="right" id="reseller_around"><%= r['around'] %></td>
      <td align="right" id="reseller_price">
        <%= long_nice_number(eap) %>
        <% if reseller.allow_loss_calls == 0 and eap > @max_user_arate %>
          <%= b_cross %>
          <% @exp_res += 1 %>
        <% else %>
          <% @cheap_res += 1%>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if not @res_creseller[0]%>
  <table width="100%" class="simple">
    <tr class="row2">
      <th align="left"><%= b_check + _('CT_These_rates_will_be_used_to_calculate_call_price') %>     </th>
    </tr>
  </table>
<% end %>