<b>LCR: <%= @lcr.name %></b>
<br/>
<br/>
<%= _("Drag_To_Change_Order") %>
<br/>
<br/>
<table style="border:1px solid #cccccc;">
  <tr>
    <td id='sortable_table'>
      <%= raw priority_table(@items,@lcr) %>
    </td>
  </tr>
</table>
<br/>
<%= link_to b_back + _('Back'), :action => 'providers_list', :id => @lcr.id %>