<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice_forgot] %></div>
  <br />
  <%flash[:notice] = nil%>
<% end -%>
<% unless @st %>
  <%= _('Email') + ":" %>
  <%= text_field('email', '', "class" => "input", "size"=>"20", 'id'=>'email_c') %>
  <%= submit_tag _('Check_email'), :type => 'button', :onclick => "update_value();", :disable_with=>_('Processing..') %>
  <br />
  <br />
  <b><%= @r %></b>
<%else%>
  <b><%= @r %></b>
<%end%>