<div class="nb">
  <% if @type == "devices" %>
      <%= _('Succesfully_reconfigured') %> <%= @devices.size %> <%= _('devices_globals') %>.
  <% end %>

  <% if @type == "outgoing_extensions" %>
      <%= _('outgoing_extlines_succesfully_reconfigured') %>
  <% end %>

</div>