<div id="quick_stats">
  <b><%= _('Quick_stats') %></b><br/><br/>
  <table class="nb" width="50%">
    <% if Confline.get_value("Hide_quick_stats").to_i == 1 %>
        <%= render :partial => "quick_stat" %>
    <% end %>
  </table>
  <% if allow_manage_providers? %>
      <%= periodically_call_remote(:update => 'active_calls_count',
                                   :url => {:controller => "stats", :action => "active_calls_count"},
                                   :frequency => session[:active_calls_refresh_interval],
                                   :loading => "Element.show('spinner');",
                                   :complete => "Element.hide('spinner');") %>
  <% end %>
</div>