<div align="center">

<div id="users-list">
</div>

<%= periodically_call_remote(:update => 'users-list',
                            :url => {:action => :ranks, :id => params[:id]},
                            :frequency => confline("Realtime_reload_time") ,
                            :loading => "Element.show('spinner');",
                            :complete=> "Element.hide('spinner');")%>
                            
</div>