<h1>Editing payments</h1>

<%= form_tag :action => 'update', :id => @payments do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit', :disable_with=>_('Processing..') %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @payments %> |

