<strong><%= _('payment_successfull')%></strong><br />

<%= _('User_name')%>:
<strong><%= session[:username]%></strong><br />
<%= _('your_balance_was_updated_by')%>:
<strong><%= @amount%></strong><br /><br />
<%= _('More_info')%>:
<%= link_to _('Payments'), :action => 'personal_payments', :id => @payments %> 
