<%= form_tag :action => 'settings_change' do %>
  <table height="550">
    <tr>
      <td valign="top">
        <table class="simple" width="100%"> 
          <tr>
            <td></td>
            <td><b><%= _('IVR_Voice_Dir')%>:</b></td>
            <td><%= text_field_tag('voice_dir', Confline.get_value("IVR_Voice_Dir") , "class" => "input", :size => "35", :maxlength => "255" )%></td>            
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag _('Save_changes'), :disable_with=>_('Processing..')%>
      <td>
    </tr>
  </table>
<% end %>