<%= form_tag :action => 'backup_create', :id => @back do %>
    <table>
      <tr>
        <td> <%= _('Comment') %>:</td>
        <td> <%= text_area_tag('comment', '', "class" => "input") %>  </td>
      </tr>
    </table>
    <br/>
    <br/>
    <%= submit_tag _('Create'), :disable_with => _('Processing..') %>
<% end %>
<br/>
<br/>
