
<% form_tag(:action => 'tariff_update', :id => @tariff) do %>
  <%= render :partial => 'tariff_form' %>
  <br><br>
  <%= submit_tag _('Edit'), :disable_with=>_('Processing..') %>
<% end %>

<br><br>
