<table class="maintable" width="100%">
  <% i =0 %>

  <% if @rows %>
    <% @rows.each{|row| %>
      <tr class="row<%= (i % 2 + 1).to_s %>">
        <% row.each{|r| %>
          <%if r[0].include?('col_')%>
            <td>
              <%= r[1] %>
            </td>
          <%end%>
        <% } %>
        <td>
          <b>
            <%= nice_card_import_error(row['nice_error'].to_i)%>
          </b>
        </td>
      </tr>
    <% } %>
  <% end %>
</table>