
<b><%= _('Card_group') %></b>: <%= link_to @cg.name, :controller => "cardgroups", :action => "show", :id => @cg %>

<br />
<br />

<% form_tag(:action => 'update', :id => @card, :return_to_controller =>  @return_controller, :return_to_action => @return_action) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Edit') , :disable_with=>_('Processing..')%>
<% end %>

<br />
<br />

<%= link_to b_details + _('Details'), :action => 'show', :id => @card %>
