<div align="center">

  <table class='page_title2' width="100%">
    <tr>
      <td align="center">
        <% for st in 'A'..'Z' %>
            <%= "<b>" if st == @st %>
            <%= link_to st, :action => params[:action], :id => @letter_select_header_id, :st => st %>
            <%= "</b>" if st == @st %>
        <% end %>
      </td>
    </tr>
  </table>

</div>
