.catalogentry {
    padding: 1ex 0ex;
}
.catalogentry img {
    float: left;
    margin-right: 2em;
}
.catalogentry h3 {
    color: #333333; 
    font-family: tahoma, verdana;
    text-transform:capitalize;
    font-weight: bold;
    margin: 0 0 0.25em 0;
    border-bottom: 1px solid #333333;
    font-size: 14px;
}
.catalogentry p {
    font: smaller sans-serif;
    margin-bottom: .5ex;
}
.catalogprice {
    padding-right: 4em;
}

.separator {
    height:2em;
    clear: both;
}

/* Shoppng cart screen */
.carttitle {
    background: #AAAAAA;
    color: #FFFFFF;
    font: bold sans-serif;
    font-size: 12px;    
    text-align: left;padding-left:1em;
    font-weight: bold;
}
.carttitle TD {
    padding: 0.25em;
} 

#cartmenu {
    border: 0px solid #333333;
    padding:1em;
}
#cartmenu a{
    color:#333333;
    font-weight:bold;
    font-size:10px;
}
#cartmenu a:hover{
    color:#333333;
	background-color: #AAAAAA;    
    font-weight:bold;
    font-size:10px;
}
#totalcell {
    font-weight: bold;
    margin:0.5em 0;
    text-align: right;
}
