<html>
<head>
  <title><%= @title%></title>
  <%= javascript_include_tag :defaults %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <%= stylesheet_link_tag "mor" %>

</head>

<body>

<table width="100%">

<tr><td>


		<div class="nb"><%= yield %></div>



</td>
</tr>

</table>


</body>

</html>