<html>
<head>
  <title><%= session[:company] %></title>
  <%= javascript_include_tag :defaults %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <%# = stylesheet_link_tag "rcssfile" %>


</head>


<html>


<% if @page_title %> 
    <table class="page_title" width="100%">
          <tr><td width="100%" align="center"> <%= @page_title %></td>    </tr>
    </table>
<% end %> 

    <table width="100%">
          <tr><td align="center" height="30" valign="center"><%= image_tag("indicator_line.gif",  :style => 'display:none', :id => "busy", :title => _('statistics') ) %></td></tr>
    </table>

<div aligh="center"><%= @content_for_layout %></div>

</html>