html, body {
    color: #AAAAAA;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.txt {
    background: none repeat scroll 0 0 #2A2A2A;
    border: 1px solid #484F59;
    color: #AAAAAA;
    font-size: 13px;
    width: 120px;
}
label {
    font-size: 12px;
}
#main {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 800px;
}
#bg_container {
    background: url("images/bg.gif") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 445px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 0;
    width: 225px;
}
#container_dial {
    display: none;
    margin-left: 16px;
    margin-top: 71px;
    padding: 0;
    width: 193px;
}
#header {
    float: left;
    margin: 0;
    padding: 0;
    width: 193px;
}
IMG#speaker {
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 11px;
    margin-left: 3px;
    margin-top: 3px;
    width: 14px;
}
IMG#logout {
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 11px;
    margin-top: 3px;
    width: 11px;
}
#logo {
    float: left;
    margin-top: 1px;
    text-align: center;
    width: 163px;
}
* html #logo {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 163px;
}
#logo A, #logo2 A {
    color: #2E2E2E;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
#PhoneNumber {
    background: none repeat scroll 0 0 #111111;
    border: 0 none;
    color: #AAAAAA;
    display: inline;
    float: right;
    font-size: 20px;
    height: 24px;
    margin-bottom: 3px;
    margin-right: 0;
    margin-top: 3px;
    padding: 0;
    text-align: center;
    width: 192px;
}
#info {
    clear: both;
    display: block;
    font-size: 11px;
    height: 13px;
    margin: 0;
    padding: 0;
    text-align: right;
}
#info_event {
    clear: both;
    display: block;
    font-size: 11px;
    height: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 193px;
}
SPAN#credit {
    float: left;
    font-size: 11px;
}
SPAN#dtmf {
    float: left;
    font-size: 11px;
}
DIV#login_page_error_messages {
    color: #FF0000;
    float: right;
    font-size: 11px;
    text-align: right;
    width: 192px;
}
SPAN#status {
    color: #26B14A;
    font-size: 11px;
}
SPAN#displayEvent {
    float: left;
    font-size: 11px;
    text-align: center;
    width: 193px;
}
#container_dial #numpad {
    border-right: 1px solid #484F59;
    border-top: 1px solid #484F59;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: 193px;
}
#container_dial #numpad LI {
    display: inline;
    float: none;
    height: 41px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 64px;
}
#container_dial #numpad LI IMG {
    border: 0 none;
    cursor: pointer;
    height: 41px;
    width: 64px;
    margin: -2px;
    width: 65px;
}
#container_dial #callbuttons {
    border-right: 1px solid #484F59;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: 193px;
}
#container_dial #callbuttons LI {
    display: inline;
    float: left;
    height: 41px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 96px;
}
#container_dial #callbuttons LI IMG {
    border: 0 none;
    cursor: pointer;
    height: 41px;
    width: 96px;
}
#container_dial #acceptreject {
    border-right: 1px solid #484F59;
    margin: 0;
    padding: 0;
    width: 193px;
}
#container_dial #acceptreject IMG {
    border: 0 none;
    cursor: pointer;
    height: 41px;
    width: 96px;
}
#container_dial #callfunctions {
    border-right: 1px solid #484F59;
    margin: 0;
    padding: 0;
    width: 193px;
}
#container_dial #callfunctions LI {
    display: inline;
    float: left;
    height: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 48px;
}
#container_dial #callfunctions LI IMG {
    border: 0 none;
    cursor: pointer;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 48px;
}
#btn_main_a {
    height: 42px;
    margin-left: 76px;
    margin-top: 4px;
    padding: 0;
    width: 42px;
}
#btn_main {
    border: 0 none;
    height: 42px;
    margin: 0;
    width: 42px;
}
#container_register {
    display: none;
    margin-left: 16px;
    margin-top: 71px;
    padding: 0;
    width: 193px;
}
#logo2 {
    float: left;
    margin-top: 1px;
    text-align: center;
    width: 192px;
}
* html #logo2 {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 192px;
}
#register_form {
    display: inline;
    float: left;
    margin-left: 37px;
    margin-top: 42px;
    padding: 0;
}
#register_form IMG {
    border: 0 none;
    cursor: pointer;
    height: 41px;
    width: 120px;
}
